.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 75px;
  padding-left: 15px;
  flex-shrink: 1;
  flex-grow: 1;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.advertisment-trap {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding-left: 55px;
  padding-top: 50px;
}

.advertisment-trap-header {
  font-size: 26px;
  letter-spacing: 1px;
}

.advertisment-trap-body {
  margin-top: 30px;
  font-size: 19px;
}

.advertisment-trap-footer {
    margin-top: 30px;
}

.register-btn {
    width: 200px;
    padding: 15px;
    background-color: #fff;
    font-size: 18px;
    color: #000;
    border-radius: 30px;
    outline: none;
    border: none;
}